@model EditProfileViewModel

@{
	ViewData["Title"] = "Edit Profile";
	var profilePicture = Model.GetPhoto(Model.Gender, Model.PhotoPath);
}

<div class="container mt-3">
	<h1 class="text-center">
		<b>Edit Profile</b>
	</h1>
	<form method="post" enctype="multipart/form-data">
		<input type="hidden" asp-for="Id" />
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="row">
			<div class="col-md-3 border-right">
				<div class="d-flex flex-column align-items-center text-center p-1">
					<img class="rounded-circle mt-1" width="150px" src="@profilePicture" alt="@Model.Username"
						 asp-append-version="true"><span class="font-weight-bold">@Model.Username</span><span> </span>
				</div>
				<div>
					<label asp-for="Photo">Change Photo</label>
					<input asp-for="Photo" class="form-control custom-file-input" />
				</div>
				<div class="form-floating mt-3 mb-3">
					<input asp-for="Username" class="form-control" />
					<label asp-for="Username"></label>
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="form-floating mt-3 mb-3 col-md-6">
						<input asp-for="FirstName" class="form-control" />
						<label class="ms-2" asp-for="FirstName"></label>
						<span asp-validation-for="FirstName" class="text-danger"></span>
					</div>
					<div class="form-floating mt-3 mb-3 col-md-6">
						<input asp-for="LastName" class="form-control" />
						<label class="ms-2" asp-for="LastName"></label>
						<span asp-validation-for="LastName" class="text-danger"></span>
					</div>
				</div>
				<div class="form-floating mt-3 mb-3">
					<input asp-for="Email" class="form-control" />
					<label asp-for="Email"></label>
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="d-inline">
					Gender:
					@foreach (var g in System.Enum.GetValues((typeof(Gender))))
					{
						<div class="form-check form-check-inline">
							<label>
								@(Html.RadioButtonFor<Gender>(m => m.Gender, (Gender)g, null))
								@g
							</label>
						</div>
					}
				</div>
				<div class="form-floating mt-3 mb-3">
					<input asp-for="DOB" class="form-control" />
					<label asp-for="DOB"></label>
					<span asp-validation-for="DOB" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<div>
				<button type="submit" class="btn btn-primary">Update</button>
				<a asp-action="Details" asp-route-username="@Model.Username" class="btn btn-secondary">Cancel</a>
			</div>
		</div>
	</form>
</div>

@section Scripts
	{
	<script>
		$(document).ready(function () {
			$('.custom-file-input').on("change", function () {
				var fileName = $(this).val().split("\\").pop();
				$(this).next('.custom-file-label').html(fileName);
			});
		});
	</script>
	<partial name="_ValidationScriptsPartial" />
}